.jumbotron {
    background-color: rgba(27, 26, 26, 0.979);
    margin: 0;
}

.jumbotron .jumbotron-heading {
    font-weight: 300;
    color: white;
    
}
.header{
    background-color: black;
    color: white;
    border-color: white;
}
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: black;
    color: white;
}